.header {
    text-align: center;
    color: red;
    font-size: 24px;
}
.nav {
    list-style-position: inside;
    list-style-type: none;
}
li {
    text-align: center;
    position: static;
}
ul {
    list-style-type: none;
}
h2 {
    color: green;
}
ul > h1 {
    color: purple;
}
figcaption {
    text-align: center;
}
.article {
    text-align: center;
}
.footer {
    text-align: right;
}
article > h3 {
    color: orange;
}
article > p {
    color: chocolate;
}